.main-container .stories-container {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    position: relative;
}

.stories-container .all-story-btn {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.all-story-btn:hover {
    background: #dfe0e2;
}